.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.section {
  height: 200px;
  background-color: rgb(117, 117, 117);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: #fff;
  margin: 0.5rem 0.3rem;
  padding: 1rem;
  max-width: 300px;
  overflow: auto;
}

.section-content {
  text-align: center;
}
